<div>
    <h2 id="page-heading">
        <span>Prenotaziones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prenotazione" [routerLink]="['/prenotazione/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Prenotazione
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="prenotaziones">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Cod Prenotazione</span></th>
            <th><span>Data Prenotazione</span></th>
            <th><span>Recapito</span></th>
            <th><span>Note</span></th>
            <th><span>Codice Fiscale Ext</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prenotazione of prenotaziones ;trackBy: trackId">
                <td><a [routerLink]="['/prenotazione', prenotazione.id, 'view' ]">{{prenotazione.id}}</a></td>
                <td>{{prenotazione.codPrenotazione}}</td>
                <td>{{prenotazione.dataPrenotazione | date:'mediumDate'}}</td>
                <td>{{prenotazione.recapito}}</td>
                <td>{{prenotazione.note}}</td>
                <td>{{prenotazione.codiceFiscaleExt}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/prenotazione', prenotazione.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prenotazione', prenotazione.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prenotazione/'+ prenotazione.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
